<!DOCTYPE HTML>
<html>
<head>
  <title>Minion</title>
      <!-- Theme CSS -->
  <link href="../css/Minion.css" rel="stylesheet">
</head>


<body>
<div id="container">
  <div class="head">
    <div class="goggles">
      
      <div id="goggles-strip-1"</div>
      <div id="goggles-strip-2"</div>
      
      <div id="goggles-circle-left">
        <div id="left-eye">
          <div id="left-eye-color">
            <div id="left-pupil"></div>
          </div>
        </div>
      </div>  
      <div id="goggles-circle-right">
        <div id="right-eye">
          <div id="right-eye-color">
            <div id="right-pupil"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="mouth"></div>

<div id="hair">
  <div id="hair-piece-3"></div>
  <div id="hair-piece-1"></div>
  <div id="hair-piece-2"></div>
</div> -->

</body>
</html>